.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  display: flex;
  background-color: red;
  border-radius: 10px 10px 0 0 ;
  padding: 0.3rem 0.3rem;

  span {
    text-align: center;
    width: 200px;
  }

  i {
    cursor: pointer;
  }
}
