<section>
  <header>
<!--    Selected date: <strong>{{dateService.date | async | moment: 'DD.MM.YYYY'}}</strong>-->
    <p>Tasks</p>
  </header>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong>{{i + 1}}</strong>
          {{task.title}}
        </span>
        <button class="btn btn-remove" (click)="removeTask(task)"><i class="material-icons">close</i></button>
      </li>
    </ul>

  <ng-template #noTasks>
    <p class="text-center">No tasks...</p>
  </ng-template>
  <footer>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <textarea
        #inputTask
        (input)="autoSizeToInputArea()"
        (keydown.enter)="submit()"
        type="text"
        formControlName="title"></textarea>

      <button
        [disabled]="form.invalid"
        type="submit"
        class="btn btn-primary btn-block btn-submit"
      >Add</button>
    </form>
  </footer>
</section>

